/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

.pika{
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - #unique
   #2 - .chuuuu
   #3 - pikachu
   #4 -
   #5 -

   e.g. - .pika               */